body{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
}

/*       Header & Nav      */

header{
    background-color: red;
    text-align: center;
    flex-grow: 2;
}
nav>ul{
    list-style-type:none;
    display: flex;
}
li{
    border: 1px solid slategray;
    flex-grow: 1;
}
a{
    color:black;
    text-decoration: none;
}

/*       Main (section>article/Aside)      */

main{
    display: flex;
    flex-grow: 40;
}
.yellow{
    background-color: yellow;
}
.magenta{
    background-color: magenta;
}
section{
    display: flex;
    justify-content: space-around;
}
section article{
    text-align: justify;
    background-color: lightskyblue;
}

/*       footer      */

footer{
    text-align: center;
    flex-grow: 1;
    background-color: mediumspringgreen;
}